.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding-bottom: 1.5em;
    padding-top: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
}

.topicos__item {
    margin: 2em 0.5em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: 1.4s;
}

.topicos__item:hover {
    transform: scale(1.1);
    transition: 1.4s;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 22px;
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
}